
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@import "_normalize.scss";
@import "_common.scss";
@import "_index.scss";
@import "_fonts.scss";
@import "_header.scss";
@import "_footer.scss";

